<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/learnhibernate?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123</property>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		
		
		<property name="show_sql">true</property>
		<!-- 将SQL脚本进行格式化后再输出 -->
		<property name="hibernate.format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!-- C3P0的配置 -->
		<!-- 指定连接池里最大连接数 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<!-- 指定连接池里最小连接数 -->
		<property name="hibernate.c3p0.min_size">1</property>
		<!-- 指定连接池里连接的超时时长 -->
		<property name="hibernate.c3p0.timeout">5000</property>
		<!-- 指定连接池里最大缓存多少个Statement对象 -->
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.validate">true</property>
		
		
		<!-- 通过注解 -->
		<mapping class="com.lun.helloworld.Job"/>
		<!-- 通过xml -->
		<mapping resource="com/lun/helloworld/Employee.hbm.xml" />
	</session-factory>

</hibernate-configuration>